<form method="post">
    <input id="field email"             name="email"                placeholder="E-mail"            type="text" value={{ owner_email }}>
    <input id="field phone"             name="phone"                placeholder="Телефон"           type="text" value={{ owner_phone }}>
    <input id="field INN"               name="INN"                  placeholder="ИНН"               type="text">
    <select id="field couriers"         name="couriers">
        <option value=True>Да</option>
        <option value=False>Нет</option>
      </select>
    <button id="submit">Зарегистрировать организацию</button>    
</form>