
<form method="post">
    <label class="Field-label">Введите ваш ID</label>
    <input class="Textinput-Control" id="field-login" name="field-login" placeholder="Логин или email" type="text" value=""><br>
    <label class="Field-label">Введите ваш Пароль</label>
    <input type="password" id="field-password" name="field-password"><br>
    <label class="Field-label">Запомнить меня!</label>
    <input type="checkbox" id="remember_me" name="remember_me"><br>
    <button id="submit">Войти</button>
</form>
