<form method="post">
    <input id="field name"                  name="name"                 placeholder="Имя"               type="text" value="">
    <input id="field second_name"           name="second_name"          placeholder="Фамилия"           type="text" value="">
    <input id="field email"                 name="email"                placeholder="E-mail"            type="text" value="">
    <input id="field phone"                 name="phone"                placeholder="Phone"             type="text" value="">
    <input id="field password"              name="password"             placeholder="Пароль"            type="password">
    <input id="field password-repeated"     name="password-repeated"    placeholder="Повторите Пароль"  type="password">
    <button id="submit">Регистрация</button>
</form>