.content_body.orders{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 400px;
    .orders_menu{
        border-right: 1px solid #DDD;
        position: fixed;
        overflow: scroll;
        scrollbar-width: thin;
        height: 100%;
        .restaurants{
            padding: 15px;
            .h2,p{margin:0}
        }
    }
    .order_info{
        border:none;
        margin-left: 330px;
    }
}
.new_order{
    background-color: #ffdf64;
}
.btn-order-open.active{
        background-color: #f5e08c !important;
    }
ul.orders{
    list-style: none;
    display: grid;  
    padding-left: 16px;  
}