.ymaps3x0--default-marker__title-wrapper{
    min-width: 115px !important;
}
.ymaps3x0--default-marker__title{
    overflow-wrap: normal !important;
    white-space: normal !important;
}

#map{
    height: 500px; 
    width: 700px;
    margin-bottom: 10px;
}